<!DOCTYPE html>
<html>
<body>
<div class="formFrom">
    <form method="post" action="from">
        <select id="selectID">
            <option value="none" hidden="">Выберите валюту</option>
            <option value="">{{#exchangeRates}} {{name}} {{/exchangeRates}}</option>
        </select>
        <input type="text" name="text" placeholder="Введите значение" />
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Конвертировать</button>
    </form>
</div>
  {{resultFrom}}
</div>
<div class="to">
    <form method="post" action="to">
    <select id="selectID">
        <option value="none" hidden="">Выберите валюту</option>
        <option value="">{{#exchangeRates}} {{name}} {{/exchangeRates}}</option>
<!--        <option value="none" hidden="">Выберите валюту</option>-->
<!--        <option value=”AUD”>Австралийский доллар</option>-->
<!--        <option value=”AZN”>Азербайджанский манат</option>-->
<!--        <option value=”GBP”>Фунт стерлингов Соединенного королевства</option>-->
<!--        <option value=”AMD”>Армянских драмов</option>-->
<!--        <option value=”BYN”>Белорусский рубль</option>-->
<!--        <option value=”BGN”>Болгарский лев</option>-->
<!--        <option value=”BRL”>Бразильский реал</option>-->
<!--        <option value=”HUF”>Венгерских форинтов</option>-->
<!--        <option value=”HKD”>Гонконгских долларов</option>-->
<!--        <option value=”DKK”>Датская крона</option>-->
<!--        <option value=”USD”>Доллар США</option>-->
<!--        <option value=”EUR”>Евро</option>-->
<!--        <option value=”INR”>Индийских рупий</option>-->
<!--        <option value=”KZT”>Казахстанских тенге</option>-->
<!--        <option value=”CAD”>Канадский доллар</option>-->
<!--        <option value=”KGS”>Киргизских сомов</option>-->
<!--        <option value=”CNY”>Китайский юань</option>-->
<!--        <option value=”MDL”>Молдавских леев</option>-->
<!--        <option value=”NOK”>Норвежских крон</option>-->
<!--        <option value=”PLN”>Польский злотый</option>-->
<!--        <option value=”RON”>Румынский лей</option>-->
<!--        <option value=”XDR”>СДР</option>-->
<!--        <option value=”SGD”>Сингапурский доллар</option>-->
<!--        <option value=”TJS”>Таджикских сомони</option>-->
<!--        <option value=”TRY”>Турецкая лира</option>-->
<!--        <option value=”TMT”>Новый туркменский манат</option>-->
<!--        <option value=”UZS”>Узбекских сумов</option>-->
<!--        <option value=”UAH”>Украинских гривен</option>-->
<!--        <option value=”CZK”>Чешских крон</option>-->
<!--        <option value=”SEK”>Шведских крон</option>-->
<!--        <option value=”CHF”>Швейцарский франк</option>-->
<!--        <option value=”ZAR”>Южноафриканских рэндов</option>-->
<!--        <option value=”KRW”>Вон Республики Корея</option>-->
<!--        <option value=”JPY”>Японских иен</option>-->
    </select>
        <input type="text" name="text1" placeholder="Введите значение" />
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Конвертировать</button>
    </form>
</div>
<!--<div class="resultTo">-->
<!--    {{resultTo}}-->
</div>
</body>
</html>